body{
    margin: 0;
    text-align: center;
}

.header-section{
    height: 100px;
    background-size: 100%;
}
.logo-section{
    padding: 20px 0px 0px 30px;
    text-align: left;
}

.bander-section{
    margin: 30px auto 10px auto;
    padding: 30px auto 10px auto;
}
.descrition-section{
    width: 80%;
    text-align: left;
    margin: 30px auto 10px auto;
    padding: 30px auto 10px auto
}
.selecton-section{
    margin-top: 40px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Sans-Serif;
}
.chart-section{
    padding: 50px 20px 20px 20px;
}

.explain-section{
    width: 80%;
    text-align: left;
    margin: 20px auto 20px auto;
    padding: 20px 0px 20px 0px;

}
.contact-section{
    padding: 40px 0px 40px 0px;
    color: white;
    background-color: #000000

    /* padding: 20px 0px 20px 0px; */

}
path {
    stroke: white;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 3;
    shape-rendering: crispEdges;
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.5;
}
.grid path {
      stroke-width: 0;
}
