body{
  margin: 0;
  text-align: center;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
